<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
    <script src="\javascripts\checkboxes.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script>
        var myapp = angular.module("myapp",["ngRoute","checklist-model"]).config(['$locationProvider', '$routeProvider',
            function config($locationProvider, $routeProvider) {
                $locationProvider.hashPrefix('!');

                $routeProvider.
                when('/loggedin', {
                    templateUrl: 'default.html',
                    controller: 'defaultctrl'
                }).
                when('/view1', {
                    templateUrl: 'view1.html',
                    controller: 'view1ctrl'
                }).
                when('/view2', {
                    templateUrl: 'view2.html',
//                    controller: view2ctrl
                }).
                when('/last', {
                    templateUrl: 'lastpage.html'

                }).
                otherwise('/loggedin');
            }
        ])
                .controller('defaultctrl',function($http, $scope, $rootScope, $location, $window) {
            $rootScope.details = {"name" :"", "projectdetails":"", "description":""}

        })
                myapp.controller('view1ctrl', function($rootScope, $http, $scope) {
                    $http({
                        method : "GET",
                        url : "http://localhost:3000/api/Containers/uploads/files"
                    }).then(function mySucces(response) {
                        $rootScope.myWelcome = response.data;
                    }, function myError(response) {
                        $scope.myWelcome = response.statusText;
                    });
                    $rootScope.user = {
                        roles: []
                    }
                });

    </script>
    <script>
        function myFunctions() {
            document.getElementById("myDropdown1").classList.toggle("show");
        }
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn1')) {

                var dropdowns = document.getElementsByClassName("dropdown-content1");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <script>
        function myFunction2() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>
</head>

<body ng-app="myapp">
<header id="content" class="block">
    <ul class="header-menu horizontal-list">
        <li>
            <a class="header-menu-tab" href="#1">NAME</a>
        </li>
    </ul>
    <div class="profile-menu">
        <button onclick="myFunctions()" id="mybtn1" class="dropbtn1">User</button>
        <div id="myDropdown1" class="dropdown-content1">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#contact">Contact</a>
        </div>
    </div>
</header>

<div id="bucket" class="left-container container">
    <div class="menu-box block"> <!-- MENU BOX (LEFT-CONTAINER) -->
        <h2 class="titular">BUCKET</h2>
        <ul class="menu-box-menu">
            <li ng-controller="defaultctrl">
                <a class="menu-box-tab" href="#6">Project Details {{details.name}} {{details.prodetails}} {{details.description}}</a>
            </li>
            <li ng-controller="view1ctrl">
                <a class="menu-box-tab" href="#8">Frameworks {{user.roles}}</a>
            </li>
            <li>
                <a class="menu-box-tab" href="#10">UI templates</a>
            </li>
        </ul>
    </div>
</div>

<div ng-view>

</div>

<footer id="content1">
    <ul class="footer-menu horizontal-list">
        <li>
            <a class="footer-menu-tab" href="#1">About us</a>
        </li>
        <li>
            <a class="footer-menu-tab" href="#2">Projects</a>
        </li>
    </ul>
</footer>
</body>
</html>