<div>
    <header id="mybuttons" class="block">
        <a id="next" class="sign-in button" href="#23">DOWNLOAD</a>
        <a id="preview" class="sign-in button" href="#40">DEPLOY</a>
    </header>
    <div class="preview-box" style="position: relative">
        <h2>Preview Screen :-)</h2>
    </div>
</div>