<div class="right-container">
    <div class="account block"> <!-- ACCOUNT (RIGHT-CONTAINER) -->
        <h2 class="titular">CREATE ACCOUNT</h2>
        <div class="input-container">
            <input type="text" placeholder="yourname@gmail.com" class="email text-input">
            <div class="input-icon envelope-icon-acount"></div>
        </div>
        <div class="input-container">
            <input type="password" placeholder="Password" class="password text-input">
            <div class="input-icon password-icon"></div>
        </div>
        <a ng-click="login" class="sign-in button" href="#22">SIGN UP</a>
        <a href="/#!/"><p class="scnd-font-color">Already have an account? Login</p></a>
    </div>
</div>