<div>
    <link rel="stylesheet" href="css/mystyle.css">
<header id="mybuttons" class="block">
    <a id="next" class="sign-in button" href="/#!/view2">NEXT</a>
</header>
<div class="lblock">
    <ul class="leftr-menu vertical-list">
        <li>
            <a onclick="myFunction2()"  class="dropbtn handover" >Me<span class="entypo-down-open scnd-font-color"></span></a>
            <div id="myDropdown" class="dropdown-content">
                <label ng-repeat="role in myWelcome">
                    <input type="checkbox" checklist-model="user.roles" checklist-value="role.name"> {{role.name}}
                </label>
                <!--<a href="#home" onclick="myFunction3()"  class="dropbtn handover">Home<input type="checkbox"/></a>-->
                <!--<div id="myDropdownh3" class="dropdown-content" onClick="if (document.getElementById('cb').checked) document.getElementById('cb').checked=false; else document.getElementById('cb').checked=true;">-->
                    <!--<p>-->
                        <!--<a href="#home">Home<input id="cb" type="checkbox"/></a>-->
                        <!--<a href="#about">About<input type="checkbox"/></a>-->
                        <!--<a href="#contact">Contact<input type="checkbox"/></a></p>-->

                <!--</div>-->
                <!--<script>-->
                    <!--/* When the user clicks on the button,-->
                     <!--toggle between hiding and showing the dropdown content */-->
                    <!--function myFunction3() {-->
                        <!--document.getElementById("myDropdownh3").classList.toggle("show");-->
                    <!--}-->

                    <!--// Close the dropdown if the user clicks outside of it-->
                    <!--//                        window.onclick = function(event) {-->
                    <!--//                            if (!event.target.matches('.dropbtn')) {-->
                    <!--//-->
                    <!--//                                var dropdowns = document.getElementsByClassName("dropdown-content");-->
                    <!--//                                var i;-->
                    <!--//                                for (i = 0; i < dropdowns.length; i++) {-->
                    <!--//                                    var openDropdown = dropdowns[i];-->
                    <!--//                                    if (openDropdown.classList.contains('show')) {-->
                    <!--//                                        openDropdown.classList.remove('show');-->
                    <!--//                                    }-->
                    <!--//                                }-->
                    <!--//                            }-->
                    <!--//                        }-->
                <!--</script>-->

                <!--<a onClick="if (document.getElementById('cb').checked) document.getElementById('cb').checked=false; else document.getElementById('cb').checked=true;">About<input id="cb" type="checkbox"/></a>-->
                <!--<a onClick="if (document.getElementById('cb2').checked) document.getElementById('cb2').checked=false; else document.getElementById('cb2').checked=true;">Contact<input id="cb2" type="checkbox"/></a>-->
            </div>
        </li>
    </ul>



</div>
</div>