<div>
    <header id="mybuttons" class="block">
        <a id="next" class="sign-in button" href="#23">PREVIEW</a>
        <a id="preview" class="sign-in button" href="/#!/last">NEXT</a>
    </header>

    <form>
        <div class="multiselect">
            <div class="selectBox" onclick="showCheckboxes()">
                <select>
                    <option><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj6HEZ9S4kObp6G9VnA4ee7OcBDxlrE81LGsOe481V8wBJDmW1"></option>
                </select>
                <div class="overSelect"></div>
            </div>
            <div id="checkboxes">
                <label for="one"><input type="checkbox" id="one"/><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj6HEZ9S4kObp6G9VnA4ee7OcBDxlrE81LGsOe481V8wBJDmW1"></label>
                <label for="two"><input type="checkbox" id="two"/><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj6HEZ9S4kObp6G9VnA4ee7OcBDxlrE81LGsOe481V8wBJDmW1"</label>
            </div>
        </div>
    </form>
</div>